DEVBOX_R2_ENDPOINT=https://example-account-id.r2.cloudflarestorage.com
DEVBOX_R2_BUCKET=devbox-alpha
DEVBOX_R2_PREFIX=accounts/account-example/projects/project-example
DEVBOX_R2_ACCESS_KEY_ID=replace-me
DEVBOX_R2_SECRET_ACCESS_KEY=replace-me
DEVBOX_METADATA_API=http://127.0.0.1:8787
DEVBOX_METADATA_DB=./metadata-alpha.sqlite3
DEVBOX_METADATA_PROJECT=project-example
DEVBOX_METADATA_LISTEN=127.0.0.1:8787
DEVBOX_OBJECT_ACCESS_LEASE=lease-alpha
DEVBOX_ALPHA_INVITE_CODE=replace-after-invite-create
DEVBOX_SESSION_TOKEN=replace-after-hosted-login
DEVBOX_LIVE_DB=./devbox.sqlite3
DEVBOX_LIVE_CACHE=./.devbox-cache
DEVBOX_LIVE_PROJECT_ROOT=./project
DEVBOX_LIVE_MODE=push
